<div class="row">
    <div class="col-xl-3 col-lg-6">
        <div class="card card-primary card-inverse">
            <div class="card-header card-primary">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div class="huge">26</div>
                        <div>New Comments!</div>
                    </div>
                </div>
            </div>
            <div class="card-footer card-default">
                <a href="javascript:;">
                    <span class="pull-xs-left">View Details</span>
                    <span class="pull-xs-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-green card-inverse">
            <div class="card-header card-green">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div class="huge">12</div>
                        <div>New Tasks!</div>
                    </div>
                </div>
            </div>
            <div class="card-footer card-green">
                <a href="javascript:;">
                    <span class="pull-xs-left">View Details</span>
                    <span class="pull-xs-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-yellow card-inverse">
            <div class="card-header card-yellow">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div class="huge">124</div>
                        <div>New Orders!</div>
                    </div>
                </div>
            </div>
            <div class="card-footer card-yellow">
                <a href="javascript:;">
                    <span class="pull-xs-left">View Details</span>
                    <span class="pull-xs-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-red card-inverse">
            <div class="card-header card-red">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div class="huge">13</div>
                        <div>Support Tickets!</div>
                    </div>
                </div>
            </div>
            <div class="card-footer card-red">
                <a href="javascript:;">
                    <span class="pull-xs-left">View Details</span>
                    <span class="pull-xs-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-5">
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn-lg btn-primary center-block" (click)="getAllLatestNews()">
            <i class="fa fa-upload"></i>&nbsp;&nbsp;&nbsp; Refresh News
        </button>
    </div>
    <div class="col-lg-5">
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Latest CricInfo News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('latest' ,'espn-cric-info')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of lastestArticleList | searchfilter: 'source' : 'espn-cric-info' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-soccer-ball-o"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                        <!--<button type="button" class="btn-xs btn-info" (click)="sendTweet(item)">
                            <i class="fa fa-twitter"></i>
                        </button>-->
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/latest-news">View All Latest News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Top CricInfo News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('top' ,'espn-cric-info')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of topArticleList | searchfilter: 'source' : 'espn-cric-info' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-soccer-ball-o"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/top-news">View All Top News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Latest TechCrunch News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('latest' ,'techcrunch')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of lastestArticleList | searchfilter: 'source' : 'techcrunch' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-laptop"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/latest-news">View All Latest News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Top TechCrunch News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('top' ,'techcrunch')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of topArticleList | searchfilter: 'source' : 'techcrunch' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-laptop"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/top-news">View All Top News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Latest Verge News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('latest' ,'the-verge')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of lastestArticleList | searchfilter: 'source' : 'the-verge' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-windows"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/latest-news">View All Latest News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Top Verge News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('top' ,'the-verge')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of topArticleList | searchfilter: 'source' : 'the-verge' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-windows"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/top-news">View All Top News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Latest Engadget News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('latest' ,'engadget')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of lastestArticleList | searchfilter: 'source' : 'engadget' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-linux"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/latest-news">View All Latest News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Top Engadget News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('top' ,'engadget')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of topArticleList | searchfilter: 'source' : 'engadget' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-linux"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/top-news">View All Top News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Latest Mashable News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('latest' ,'mashable')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of lastestArticleList | searchfilter: 'source' : 'mashable' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-hacker-news"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/latest-news">View All Latest News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Top Mashable News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('top' ,'mashable')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of topArticleList | searchfilter: 'source' : 'mashable' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-hacker-news"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/top-news">View All Top News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Top CNN News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('top' ,'cnn')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of topSecondaryArticleList | searchfilter: 'source' : 'cnn' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-newspaper-o"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/latest-news">View All Latest News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Top BBC News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('top' ,'bbc-news')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of topSecondaryArticleList | searchfilter: 'source' : 'bbc-news' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-newspaper-o"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/top-news">View All Top News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Top Times Of India News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('top' ,'the-times-of-india')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of topSecondaryArticleList | searchfilter: 'source' : 'the-times-of-india' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-newspaper-o"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/latest-news">View All Latest News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Top The Hindu News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('top' ,'the-hindu')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of topSecondaryArticleList | searchfilter: 'source' : 'the-hindu' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-newspaper-o"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/top-news">View All Top News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Top The NewYork Times News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('top' ,'the-new-york-times')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of topSecondaryArticleList | searchfilter: 'source' : 'the-new-york-times' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-newspaper-o"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/latest-news">View All Latest News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Top The Washington Post News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('top' ,'the-washington-post')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of topSecondaryArticleList | searchfilter: 'source' : 'the-washington-post' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-newspaper-o"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/top-news">View All Top News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

