<div class="row">
    <div class="col-xl-3 col-lg-6">
        <div class="card card-primary card-inverse">
            <div class="card-header card-primary">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-newspaper-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div class="huge">{{lastestArticleList.length}}</div>
                        <div>Latest News</div>
                    </div>
                </div>
            </div>
            <div class="card-footer card-default">
                <br />
                <span class="pull-xs-left">
                    <button type="button" class="btn btn-sm btn-info" (click)="tweetAllNews('latest')">
                        <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet Latest News
                    </button>
                </span>
                <a>
                    <span class="pull-xs-right"><i class="fa fa-arrow-circle-left"></i></span>
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-green card-inverse">
            <div class="card-header card-green">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div class="huge">{{topArticleList.length}}</div>
                        <div>Top News</div>
                    </div>
                </div>
            </div>
            <div class="card-footer card-green">
                <br />
                <span class="pull-xs-left">
                    <button type="button" class="btn btn-sm btn-info" (click)="tweetAllNews('top')">
                        <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet Top News
                    </button>
                </span>
                <a>
                    <span class="pull-xs-right"><i class="fa fa-arrow-circle-left"></i></span>
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-yellow card-inverse">
            <div class="card-header card-yellow">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-wordpress fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div class="huge">{{blogList.length}}</div>
                        <div>Blog Posts</div>
                    </div>
                </div>
            </div>
            <div class="card-footer card-yellow">
                <br />
                <span class="pull-xs-left">
                    <button type="button" class="btn btn-sm btn-info" (click)="tweetAllBlogPosts()">
                        <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet Blog Posts
                    </button>
                </span>
                <a>
                    <span class="pull-xs-right"><i class="fa fa-arrow-circle-left"></i></span>
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-red card-inverse">
            <div class="card-header card-red">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div class="huge">{{categoryList.length}}</div>
                        <div>Blog Category</div>
                    </div>
                </div>
            </div>
            <div class="card-footer card-red">
                <br />
                <span class="pull-xs-left">
                    <button type="button" class="btn btn-sm btn-info" (click)="tweetAllBlogPostsByCategory()">
                        <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet Category
                    </button>
                </span>
                <md-select class="pull-xs-right" placeholder="Blog Categories" [(ngModel)]="categoryValue" name="blogCategory">
                    <md-option *ngFor="let item of categoryList" [value]="item">
                        {{item}}
                    </md-option>
                </md-select>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xl-6 col-lg-6">
        <div class="card card-yellow card-inverse">
            <div class="card-header card-yellow">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-cloud-upload fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div class="huge">{{sourceList.length}}</div>
                        <div>News Sources</div>
                    </div>
                </div>
            </div>
            <div class="card-footer card-yellow">
                <br />

                <span class="pull-xs-left">
                    <button type="button" class="btn btn-sm btn-info" (click)="tweetNewsBySource(newsTypeValue, sourceValue)">
                        <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet Sources
                    </button>
                </span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <md-select placeholder="select News Type" [(ngModel)]="newsTypeValue" name="newsType">
                    <md-option *ngFor="let item of newsTypeList" [value]="item">
                        {{item}}
                    </md-option>
                </md-select>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <md-select placeholder="select News Source" [(ngModel)]="sourceValue" name="newsSource">
                    <md-option *ngFor="let item of sourceList" [value]="item">
                        {{item}}
                    </md-option>
                </md-select>
                <a>
                    <span class="pull-xs-right"><i class="fa fa-arrow-circle-left"></i></span>
                </a>
                <div class="clearfix"></div>
                <br />
                <br />
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="card card-green card-inverse">
            <div class="card-header card-green">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-twitch fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div class="huge">{{140 - content.length }}</div>
                        <div>Tweet Content</div>
                    </div>
                </div>
            </div>
            <div class="card-footer card-green">
                <md-input-container style="color: black;" class="pull-xs-left">
                    <textarea [(ngModel)]="content" maxlength="140" rows="2" cols="100" md-input placeholder="Share thought !!!"></textarea>
                </md-input-container>
                <span class="pull-xs-right">
                    <button type="button" class="btn btn-sm btn-info" (click)="sendContent()">
                        <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Click to Tweet !!
                    </button>
                </span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-lg-5">
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-lg btn-primary center-block" (click)="getAllLatestNews()">
            <i class="fa fa-upload"></i>&nbsp;&nbsp;&nbsp; Click to Refresh News
        </button>
    </div>
    <div class="col-lg-5">
        <span class="col-lg-offset-4">
            <a href="https://twitter.com/intent/tweet?screen_name=Hasan_Tariq" class="twitter-mention-button" data-show-count="false">Tweet to @Hasan_Tariq</a>
        </span>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Latest CricInfo News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('latest' ,'espn-cric-info')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of lastestArticleList | searchfilter: 'source' : 'espn-cric-info' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-soccer-ball-o"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                        <!--<button type="button" class="btn-xs btn-info" (click)="sendTweet(item)">
                            <i class="fa fa-twitter"></i>
                        </button>-->
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/latest-news">View All Latest News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Top CricInfo News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('top' ,'espn-cric-info')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of topArticleList | searchfilter: 'source' : 'espn-cric-info' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-soccer-ball-o"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/top-news">View All Top News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Latest TechCrunch News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('latest' ,'techcrunch')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of lastestArticleList | searchfilter: 'source' : 'techcrunch' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-laptop"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/latest-news">View All Latest News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Top TechCrunch News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('top' ,'techcrunch')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of topArticleList | searchfilter: 'source' : 'techcrunch' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-laptop"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/top-news">View All Top News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Latest Verge News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('latest' ,'the-verge')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of lastestArticleList | searchfilter: 'source' : 'the-verge' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-windows"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/latest-news">View All Latest News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Top Verge News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('top' ,'the-verge')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of topArticleList | searchfilter: 'source' : 'the-verge' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-windows"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/top-news">View All Top News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Latest Engadget News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('latest' ,'engadget')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of lastestArticleList | searchfilter: 'source' : 'engadget' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-linux"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/latest-news">View All Latest News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Top Engadget News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('top' ,'engadget')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of topArticleList | searchfilter: 'source' : 'engadget' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-linux"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/top-news">View All Top News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Latest Mashable News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('latest' ,'mashable')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of lastestArticleList | searchfilter: 'source' : 'mashable' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-hacker-news"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/latest-news">View All Latest News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Top Mashable News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('top' ,'mashable')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of topArticleList | searchfilter: 'source' : 'mashable' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-hacker-news"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/top-news">View All Top News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Top CNN News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('top' ,'cnn')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of topSecondaryArticleList | searchfilter: 'source' : 'cnn' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-newspaper-o"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/latest-news">View All Latest News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Top BBC News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('top' ,'bbc-news')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of topSecondaryArticleList | searchfilter: 'source' : 'bbc-news' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-newspaper-o"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/top-news">View All Top News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Top Times Of India News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('top' ,'the-times-of-india')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of topSecondaryArticleList | searchfilter: 'source' : 'the-times-of-india' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-newspaper-o"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/latest-news">View All Latest News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Top The Hindu News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('top' ,'the-hindu')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of topSecondaryArticleList | searchfilter: 'source' : 'the-hindu' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-newspaper-o"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/top-news">View All Top News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Top The NewYork Times News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('top' ,'the-new-york-times')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of topSecondaryArticleList | searchfilter: 'source' : 'the-new-york-times' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-newspaper-o"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/latest-news">View All Latest News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Top The Washington Post News</b>
                <button type="button" class="btn btn-sm btn-info pull-right" (click)="tweetNewsBySource('top' ,'the-washington-post')">
                    <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Tweet News
                </button>
            </div>
            <div class="card-block">
                <div class="list-group">
                    <span *ngFor="let item of topSecondaryArticleList | searchfilter: 'source' : 'the-washington-post' | sortgrid: '-publishedAt'">
                        <a href="{{item.url}}" target="_blank" class="list-group-item">
                            <span class="label label-pill label-default pull-xs-right">{{item.publishedAt | date: 'shortTime'}}</span>
                            <i class="fa fa-fw fa-newspaper-o"></i> {{item.title}}
                            <br />
                            <span style="font-size:x-small">{{item.description}}</span>
                        </a>
                    </span>
                </div>
                <div class="text-xs-right">
                    <a routerLink="/top-news">View All Top News <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

