<div class="wrapper">
    <div class="sidebar" data-background-color="black" data-active-color="danger">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    VMDB
                </a>
            </div>
            <ul class="nav">
                <li routerLinkActive="active">
                    <a routerLink="dashboard/home">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default">
        </nav>

        <div class="content">
            <router-outlet>
            </router-outlet>
        </div>

        <footer class="footer">
        </footer>
    </div>
</div>