<div id="wrapper">
    <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button class="navbar-toggler hidden-sm-up pull-sm-right" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                &#9776;
            </button>
            <a class="navbar-brand" href="index.html">Tweet Bot</a>
        </div>
        <ul class="nav navbar-nav top-nav navbar-right pull-xs-right">
            <li class="dropdown nav-item active">
                <a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Hassan T. <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="divider"></li>
                    <li class="dropdown-item">
                        <a href="javascript:;"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="collapse navbar-collapse navbar-toggleable-sm navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav list-group">
                <li routerLinkActive="list-group-item">
                    <a routerLink="dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li routerLinkActive="list-group-item">
                    <a routerLink="tweet"><i class="fa fa-fw fa-retweet"></i> Tweet</a>
                </li>
                <li routerLinkActive="list-group-item">
                    <a routerLink="latest-news"><i class="fa fa-fw fa-newspaper-o"></i> Latest News</a>
                </li>
                <li routerLinkActive="list-group-item">
                    <a routerLink="top-news"><i class="fa fa-fw fa-desktop"></i> Top News</a>
                </li>
                <li routerLinkActive="list-group-item">
                    <a routerLink="blog"><i class="fa fa-fw fa-wordpress"></i> Blog</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <md-toolbar color="accent">
                        <md-toolbar-row>
                            <h2>{{pageTitle}}</h2>
                            <md-icon class="tootlbar-icon">map</md-icon>
                            <span class="tootlbar-spacer"></span>
                            <md-icon class="tootlbar-icon">dashboard</md-icon>
                        </md-toolbar-row>
                    </md-toolbar>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i><a routerLink="dashboard">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-folder-open-o"></i> {{pageTitle}}
                        </li>
                    </ol>
                </div>
            </div>
            <br />
            <router-outlet>
                <div *ngIf="showLoader" class="loading" ng>Loading&#8230;</div>
            </router-outlet>
        </div>
    </div>
</div>