<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <button type="button" class="btn btn-md btn-info center-block" (click)="refreshPage()">
            <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp; Refresh Twitter Timeline
        </button>
    </div>
    <div class="col-lg-4"></div>
</div>
<br />
<br />
<br />
<div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
        <a class="twitter-timeline" href="https://twitter.com/Hasan_Tariq">Tweets by Hasan_Tariq</a>
    </div>
    <div class="col-lg-4">
    </div>
</div>
