<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NewsMainUrl" value="https://newsapi.org/v1/articles?source=" />
    <add key="ApiKey" value="2ebe11785ab349feb113416f738080bb" />
    <add key="TwitterApiUrl" value="https://api.twitter.com/1.1/" />
    <add key="SendTweetApiPath" value="statuses/update.json" />
    <add key="ConsumerKey" value="KDNP8m1dTxettIJHF1AfqHcjE" />
    <add key="ConsumerKeySecret" value="ZuJH7JiFU05hE8rrnpoPOK8V7bN5Es5a54tjmWzuQfzpteiH9N" />
    <add key="AccessToken" value="33008585-KtgQYIRn92HHq8xZ3yUpNbuzdoOOrtyNMVpRVoxTi" />
    <add key="AccessTokenSecret" value="aoDO9klJzjWKZDETVuVeNn0CxiJBF7019qh6TD0LZRaBc" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>