<div class="row">
    <div class="col-xl-4 col-lg-4">
        <span mdTooltip="Click to update blog posts" mdTooltipPosition="right">
            <button md-raised-button class="btn btn-info" (click)="getAllBlogPosts()">
                <i class="fa fa-newspaper-o">&nbsp; Update Posts</i>
            </button>
        </span>
        <span mdTooltip="Click to tweet selected blog posts" mdTooltipPosition="above">
            <button md-raised-button class="btn btn-info" (click)="sendSelectedTweet()">
                <i class="fa fa-twitter">&nbsp; Tweet Selected Posts</i>
                <md-chip selected="true" color="warn">
                    {{selectCounter}}
                </md-chip>
            </button>
        </span>
        <span mdTooltip="Click to tweet all blog posts" mdTooltipPosition="above">
            <button md-raised-button class="btn btn-info" (click)="sendAllTweet()">
                <i class="fa fa-twitter-square">&nbsp; Tweet All Posts</i>
            </button>
        </span>
    </div>
    <div class="col-xl-7 col-lg-7">
        <span *ngFor="let item of categoryList">
            <span class="example-tooltip-host" mdTooltip="Click to filter blog by category: {{item}}" mdTooltipPosition="above">
                <button type="button" class="btn-sm btn-success" (click)="filterGridByCategory(item)">
                    <i class="fa fa-database">&nbsp; {{item}}</i>
                </button>&nbsp;&nbsp;&nbsp;
            </span>
        </span>
    </div>
    <div class="col-xl-1 col-lg-1">
    </div>
</div>
<br />
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-default">
                    <tr>
                        <th class="col-xl-1 col-lg-1">
                            <span mdTooltip="Click to select/unselect all posts" mdTooltipPosition="right">
                                <md-checkbox [checked]="selectAllFlag" (change)="selectAll()"></md-checkbox>
                            </span>
                        </th>
                        <th class="col-xl-5 col-lg-5">Title</th>
                        <th class="col-xl-3 col-lg-3">Url</th>
                        <th class="col-xl-1 col-lg-1">Category</th>
                        <th class="col-xl-1 col-lg-1">Tag</th>
                        <th class="col-xl-1 col-lg-1">Created Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of blogList | searchfilter: 'category' : categoryName">
                        <td class="col-xl-1 col-lg-1">
                            <span mdTooltip="Select to add this post to tweet list" mdTooltipPosition="above">
                                <md-checkbox [checked]="item.selected" (change)="selectOneItem(item)"></md-checkbox>
                            </span>
                            &nbsp;&nbsp;
                            <span mdTooltip="Click to tweet this post" mdTooltipPosition="above">
                                <button type="button" class="btn-xs btn-info" (click)="sendTweet(item)">
                                    <i class="fa fa-twitter"></i>
                                </button>
                            </span>
                        </td>
                        <td class="col-xl-5 col-lg-5">
                            <span class="example-tooltip-host" mdTooltip="Click to open post link in new window" mdTooltipPosition="above">
                                <a target="_blank" href="{{item.url}}">
                                    <span class="label label-warning" style="margin-bottom:4px;white-space: normal;">{{item.header}}</span>
                                </a>
                            </span>
                        </td>
                        <td class="col-xl-3 col-lg-3">
                            <span class="label label-default" style="margin-bottom:4px;white-space: normal;">{{item.url}}</span>
                        </td>
                        <td class="col-xl-1 col-lg-1">
                            <span class="label label-warning" style="margin-bottom:4px;white-space: normal;">{{item.category}}</span>
                        </td>
                        <td class="col-xl-1 col-lg-1">
                            <span class="label label-default" style="margin-bottom:4px;white-space: normal;">{{item.tag.length <= 0 ? 'No Tag Available' : item.tag}}</span>
                        </td>
                        <td class="col-xl-1 col-lg-1">
                            <span class="label label-default">{{item.createdDate | date: 'short'}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
